

<div id="front-matter">


    <%= image_tag @dog.profile_photo, class: "profile-photo" %>

    <div id="heading">
        <h2 class="dog-slug"><%= @dog.slug %> </h2>
        <button>Follow</button>
    </div>

    

    <div id="information">
        <h1 class="dog-name"> <%= @dog.name %> </h1>

        <p class="dog-description"><%= @dog.description %></p>

        <a class="featured-link" href="/"><%= @dog.link %></a>
    </div>

    <div id="statistics">
        <a href="/"><%= @dog.post_count%> posts</a>
        <a href="/"><%= @dog.follower_count%> followers</a>
        <a href="/"><%= @dog.following_count%> following</a>
    </div>

</div>


<div id="posts">
    <% @dog.posts.each do |post| %>
        <div class="post-wrapper">
            <%= image_tag post.photo, class: "post-picture" %>
            <div class="post-data">
                <span>💕 <%= post.like_count %></span>
                <span>💬 <%= post.comment_count %></span>
            </div>
        </div>
    <% end %>
</div>

