<!DOCTYPE html>
<html>
  <head>
    <title><%= @dog ? "#{@dog.name} (@#{@dog.slug}) · " : nil %> Dogstagram photos and videos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Oleo+Script:wght@700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', 'dog', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path("doge.png") %>

  </head>

  <body>
    <header>
      <h1 class="site-title">Dogstagram</h1>
      <input class="header-search-bar" type="text" placeholder="search">
      <div>
        <button>Log In</button>
        <button>Sign Up</button>
      </div>
    </header>
    <%= yield %>·
  </body>
</html>
